[package]
name = "rust-cookbook"
version = "0.1.0"
authors = ["Brian Anderson <banderson@mozilla.com>"]
license = "MIT/Apache-2.0"
publish = false

build = "build.rs"

[dependencies]
base64 = "0.9"
bitflags = "1.0"
byteorder = "1.0"
cc = "1.0"
chrono = "0.4"
clap = "2.29"
crossbeam = "0.4"
csv = "1.0"
data-encoding = "2.1.0"
env_logger = "0.5"
error-chain = "0.12"
flate2 = "1.0"
glob = "0.2"
image = "0.20"
lazy_static = "1.0"
log = "0.4"
log4rs = "0.8"
memmap = "0.7"
mime = "0.3"
ndarray = "0.12"
num = "0.2"
num_cpus = "1.8"
petgraph = "0.4"
postgres = "0.15"
rand = "0.5"
rayon = "1.0"
regex = "1.0"
reqwest = "0.9"
ring = "0.13.0-alpha"
rusqlite = { version = "0.14", features = ["chrono"] }
same-file = "1.0"
select = "0.4"
semver = "0.9"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tar = "0.4.12"
tempdir = "0.3.5"
threadpool = "1.6"
toml = "0.4"
url = "1.6"
walkdir = "2.0"
ansi_term = "0.11.0"

[target.'cfg(target_os = "linux")'.dependencies]
syslog = "4.0"

[build-dependencies]
skeptic = "0.13"
walkdir = "2.0"

[dev-dependencies]
skeptic = "0.13"
walkdir = "2.0"
