[package]
name = "rust-cookbook"
version = "0.1.0"
authors = ["Brian Anderson <banderson@mozilla.com>"]
license = "MIT/Apache-2.0"
publish = false

build = "build.rs"

[dependencies]
base64 = "0.6"
bitflags = "0.9"
byteorder = "1.0"
chrono = "0.3"
clap = "2.25"
crossbeam = "0.2"
csv = "1.0.0-beta.3"
data-encoding = "2.0.0-rc.1"
env_logger = "0.4"
error-chain = "0.10"
flate2 = "0.2.19"
glob = "0.2"
image = "0.14"
lazy_static = "0.2"
log = "0.3"
log4rs = "0.7"
memmap = "0.5"
num = "0.1"
num_cpus = "1.5"
petgraph = "0.4"
rand = "0.3"
rayon = "0.8"
reqwest = "0.6"
ring = "0.11.0"
select = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tar = "0.4.12"
tempdir = "0.3.5"
threadpool = "1.3"
toml = "0.4"
url = "1.4"
walkdir = "1.0.7"

[target.'cfg(target_os = "linux")'.dependencies]
syslog = "3.2.0"

[build-dependencies]
skeptic = "0.11"

[dev-dependencies]
skeptic = "0.11"
