table {
  width: 100%;
}

table td:first-child {
  width: 65%;
}

table td:nth-child(2) {
  width: 20%;
  padding: 3px;
}

table td:nth-child(3) {
  padding: 3px;
}

/* underline hyperlinked inline code items */
a:hover > .hljs {
  text-decoration: underline;
}

/* color hyperlinked inline code items
   identically to normal links */
.rust a > .hljs,
.navy a > .hljs,
.coal a > .hljs{
  color: #2b79a2;
}

.light a > .hljs {
  color: #4183c4;
}
